extends layouts/default

block content
  
  section#page-2(class=(exists ? 'container' : 'container noaccount'))
    .head
      span New Year Self Tone It Up Challenge
    .clear
    hr
    .clear
    h2 YOU’RE IN!
    .content
      | We’re all starting January 3—you’ll receive a reminder email before #[br.desktop]
      | the Challenge kicks off so you can stock your fridge and get your sneakers #[br.desktop]
      | ready. To enter for a chance to win that beach getaway, sign up below.
    .inner
      .top
        h2 ENTER NOW
        .content2 for a chance to win a three-night stay for two at The Buccaneer Resort in St. Croix, spa treatments included!
      form(method='POST', action='/enter-sweep', id='form2')
        .form2-wrapper
          input(type='text', name='@firstName', placeholder='First Name', id='first-name')
          input(type='text', name='@lastName', placeholder='Last Name', id='last-name')
          input(type='text', name='@address1', placeholder='Address', id='address')
          input(type='text', name='@city', placeholder='City', id='city')
          | <select name='@state' id='state'>
          | <option value="" default>State</option>
          | <option value="AK">AK</option>
          | <option value="AL">AL</option>
          | <option value="AR">AR</option>
          | <option value="AZ">AZ</option>
          | <option value="CA">CA</option>
          | <option value="CO">CO</option>
          | <option value="CT">CT</option>
          | <option value="DC">DC</option>
          | <option value="DE">DE</option>
          | <option value="FL">FL</option>
          | <option value="GA">GA</option>
          | <option value="HI">HI</option>
          | <option value="IA">IA</option>
          | <option value="ID">ID</option>
          | <option value="IL">IL</option>
          | <option value="IN">IN</option>
          | <option value="KS">KS</option>
          | <option value="KY">KY</option>
          | <option value="LA">LA</option>
          | <option value="MA">MA</option>
          | <option value="MD">MD</option>
          | <option value="ME">ME</option>
          | <option value="MI">MI</option>
          | <option value="MN">MN</option>
          | <option value="MO">MO</option>
          | <option value="MS">MS</option>
          | <option value="MT">MT</option>
          | <option value="NC">NC</option>
          | <option value="ND">ND</option>
          | <option value="NE">NE</option>
          | <option value="NH">NH</option>
          | <option value="NJ">NJ</option>
          | <option value="NM">NM</option>
          | <option value="NV">NV</option>
          | <option value="NY">NY</option>
          | <option value="OH">OH</option>
          | <option value="OK">OK</option>
          | <option value="OR">OR</option>
          | <option value="PA">PA</option>
          | <option value="RI">RI</option>
          | <option value="SC">SC</option>
          | <option value="SD">SD</option>
          | <option value="TN">TN</option>
          | <option value="TX">TX</option>
          | <option value="UT">UT</option>
          | <option value="VA">VA</option>
          | <option value="VT">VT</option>
          | <option value="WA">WA</option>
          | <option value="WI">WI</option>
          | <option value="WV">WV</option>
          | <option value="WY">WY</option>
          | </select>
          input(type='text', name='@zip', placeholder='Zip', id='zip')
          input(type='hidden', name='email', value='#{email}')
          .clear
          if exists
            input(type='button', class='submit', value='SIGN UP NOW')
          .clear
          .checkboxes
            .checkbox(data-field='rules')
            input(type='hidden', name='rules', value='0', id='rules')
            label By checking this box, I agree to the #[a(href='/rules.pdf', target='_blank') #[br.mobile] official rules]. #[a(href='/rules.pdf', target='_blank') No purchase necessary].#[br.mobile] #[a(href='/rules.pdf', target='_blank') Terms of use] | #[a(href='http://www.condenast.com/privacy-policy#privacypolicy', target='_blank') Privacy policy]
            .clear
            .checkbox(data-field='optin')
            input(type='hidden', name='optin', value='0', id='optin')
            label Receive more information and special offers from The Buccaneer Resort, St. Croix.
        .clear
        if !exists
          h3 Create an account!
          p.create-account
            | Always stay in the know with the newest topics,#[br.desktop]
            | recipes and workouts to be your best SELF. Be the first to know about#[br.desktop]
            | future SELF Challenges and offers!
          .form2-wrapper
            input(type='password', name='password', placeholder='Password (optional)', id='password')
            input(type='submit', class='submit', value='SIGN UP NOW')
    .clear