extends layouts/default

block content
  section.container#page-3
    .head
      span New Year Self Tone It Up Challenge
    .content
      You have been entered for a chance to win a three-night stay for two #[br]
      at the Buccaneer Resort in St. Croix—spa treatments included!
    hr
    .social
      h2 Follow SELF
      a(href='', target='_blank') FACEBOOK
      a(href='', target='_blank') INSTAGRAM