.clear {
    clear: both;
}

body {
    padding-bottom: 50px;
}

.mobile {
    display: none;
}

@font-face {
    font-family: 'GraphikBACondBold';
    src: url('../fonts/GraphikBACondBold.eot');
    src: url('../fonts/GraphikBACondBold.eot') format('embedded-opentype'),
         url('../fonts/GraphikBACondBold.woff2') format('woff2'),
         url('../fonts/GraphikBACondBold.woff') format('woff'),
         url('../fonts/GraphikBACondBold.ttf') format('truetype'),
         url('../fonts/GraphikBACondBold.svg#GraphikBACondBold') format('svg');
}

@font-face {
    font-family: 'GraphikBACondMedium';
    src: url('../fonts/GraphikBACondMedium.eot');
    src: url('../fonts/GraphikBACondMedium.eot') format('embedded-opentype'),
         url('../fonts/GraphikBACondMedium.woff2') format('woff2'),
         url('../fonts/GraphikBACondMedium.woff') format('woff'),
         url('../fonts/GraphikBACondMedium.ttf') format('truetype'),
         url('../fonts/GraphikBACondMedium.svg#GraphikBACondMedium') format('svg');
}

@font-face {
    font-family: 'GraphikMedium';
    src: url('../fonts/GraphikMedium_0.eot');
    src: url('../fonts/GraphikMedium_0.eot') format('embedded-opentype'),
         url('../fonts/GraphikMedium_0.woff2') format('woff2'),
         url('../fonts/GraphikMedium_0.woff') format('woff'),
         url('../fonts/GraphikMedium_0.ttf') format('truetype'),
         url('../fonts/GraphikMedium_0.svg#GraphikMedium_0') format('svg');
}

@font-face {
    font-family: 'GraphikLight';
    src: url('../fonts/GraphikLight_0.eot');
    src: url('../fonts/GraphikLight_0.eot') format('embedded-opentype'),
         url('../fonts/GraphikLight_0.woff2') format('woff2'),
         url('../fonts/GraphikLight_0.woff') format('woff'),
         url('../fonts/GraphikLight_0.ttf') format('truetype'),
         url('../fonts/GraphikLight_0.svg#GraphikLight_0') format('svg');
}

body {
    background: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.head {
    background: url(../img/header.png) center center no-repeat;
    background-size: 100% auto;
}

.head span {
    display: none;
}

#page-1 .head {
    width: 301px;
    height: 169px;
    margin-top: 30px;
    margin-right: 63px;
}

#page-1 {
    height: 977px;
    background: url(../img/bg@2x.jpg) center center no-repeat;
    background-size: 100% auto;
}

#page-1 h1 {
    color: white;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 1;
    width: 248px;
    padding: 19px 0 13px;
    text-align: center;
    margin: 19px 86px 16px 0;
    font-weight: 400;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: 'GraphikBACondMedium';
}

#form1 {
    width: 380px;
    float: right;
    margin-right: 20px;
}

input, select, textarea {
    background: white;
    border-radius: 0;
    width: 100%;
    font-family: 'GraphikBACondMedium';
    border: none;
    display: block;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;
}

#email {
    width: 100%;
    font-size: 21px;
    padding: 18px 20px;
    text-transform: none;
}

#page-1 > * {
    float: right;
}

#page-1 .content {
    float: none;
}

.submit {
    background: #ee2e00;
    color: white;
    text-align: center;
    line-height: 1;
}

#page-1 .submit {
    font-size: 30px;
    padding: 16px;
    text-transform: uppercase;
}

#page-1 input {
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
    margin-bottom: 16px;
}

#page-1 .content2 {
    width: 430px;
    font-family: 'GraphikLight';
    font-size: 16px;
    line-height: 28px;
    margin: 0.5em 0 1.5em;
    padding-right: 10px;
}

#page-1 .content2 strong {
    font-weight: 400;
    font-family: 'GraphikMedium';
}

#page-1 .content2  ul {
    margin: 0;
    padding-left: 15px;
}

#page-1 .content {
    background: rgba(0,0,0,0.5);
    color: white;
    font-family: 'GraphikBACondMedium';
    font-size: 24px;
    line-height: 26px;
    position: absolute;
    width: 470px;
    box-sizing: border-box;
    padding: 30px;
    left: 0;
    top: 482px;
    text-align: center;
    letter-spacing: 2.4px;
}

#page-1 .content .date {
    font-family: 'GraphikBACondBold';
    color: #ee2e00;
    font-weight: 400;
}


#page-1 .bonus {
    color: #ee2e00;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 420px;
    padding: 23px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
    font-family: 'GraphikBACondMedium';
    margin-right: 19px;
    margin-top: 25px;
}

footer {
    background: black;
    color: white;
    padding: 25px 45px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 20px;
}

footer a {
    color: white;
}

form {
    display: block;
}

#page-2 .head, #page-3 .head {
    width: 141px;
    margin: 0 auto;
    height: 113px;
}

hr {
    width: 298px;
    border: none;
    border-top: black 2px solid;
    margin: 0 auto;
}

#page-2 h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'GraphikBACondMedium';
    margin: 20px 0 0;
    line-height: 1;
    font-weight:  400;
}

#page-2 .content {
    font-family: 'GraphikBACondMedium';
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin: 0.4em 0 0.7em;
}

#page-2 .inner {
    background: url(../img/bg2.jpg) 0 0 no-repeat;
    background-size: 100% auto;
    height: 646px;
    text-align: center;
}

#page-2.noaccount .inner {
    background: url(../img/bg2alt.jpg) 0 0 no-repeat;
    height: 873px;
}

#page-2 .inner .top {
    padding-top: 24px;
    padding-bottom: 22px;
    color: white;
    text-shadow: 3px 3px rgba(0,0,0,.3);
}

#page-2 .inner .top .content2 {
    font-size: 28px;
    line-height: 32px;
    font-family: 'GraphikBACondMedium';
    width: 670px;
    margin: 0.6em auto 1em;
}

#page-2 .submit {
    font-size: 30px;
    line-height: 1;
    height: 49px;
    padding: 11px 0;
}

.form2-wrapper {
    width: 486px;
    margin: 36px auto 0;
}

#form2 input, #form2 select {
    padding: 12px 11px 8px;
    margin-bottom: 13px;
    float: left;
    font-size: 18px;
    height: 42px;
}

#first-name, #city, #state {
    margin-right: 12px;
}

#last-name, #first-name {
    width: 237px;
}

#city, #state, #zip {
    width: 154px;
    display: block;
}

.checkbox {
    display: block;
    float: left;
    width: 11px;
    margin-right: 2px;
    margin-bottom: 10px;
    margin-top: 2px;
    height: 11px;
    border: 1px solid #555655;
    background: white;
    cursor: pointer;
}

.checkbox.hit {
    background: white url(../img/checkbox-hit2.png) center center no-repeat;
    background-size: 100% 100%;
}

.checkboxes {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-family: 'GraphikBACondMedium';
}

.checkboxes a {
    color: black;
}

#page-2 h3 {
    font-size: 50px;
    text-shadow: 3px 3px rgba(0,0,0,0.3);
    font-family: 'GraphikBACondMedium';
    color: white;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 0;
}

p.create-account {
    text-shadow: 3px 3px rgba(0,0,0,0.3);
    font-family: 'GraphikBACondMedium';
    color: white;
    font-size: 28px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 26px;
}

#page-3 {
    text-align: center;
}

#page-3 .content {
    font-size: 32px;
    line-height: 38px;
    font-family: 'GraphikBACondMedium';
    padding: 40px 0 50px;
}

#page-3 .social {
    padding-top: 40px;
    padding-bottom: 112px;
    font-family: 'GraphikBACondMedium';
}

#page-3 .social, #page-3 .social h2 {
    font-size: 28px;
    line-height: 32px;
    color: #f04722;
    font-weight: 400;
}

#page-3 .social a {
    color: #f04722;
    margin: 0 40px;
}

#page-3 .social h2 {
    margin-bottom: 64px;
}

#state {
    color: #919191;
}

@media screen and (max-width: 768px){
    .desktop {
        display: none;
    }
    #page-1 > * {
        float: none;
    }
    #page-1 .head {
        margin: 26px auto 30px;
    }
    #page-1 {
        height: auto;
        background: none;
    }
    #page-1 .content-wrapper {
        background: url(../img/bg-mobile@2x.jpg) center center no-repeat;
        background-size: cover;
        position: relative;
        height: 527px;
    }
    #page-1 .content {
        top: auto;
        bottom: 0;
        width: 100%;
        font-size: 32px;
        line-height: 42px;
        padding-left: 0;
        padding-right: 0;
        letter-spacing: 1px;
    }
    #page-1 h1 {
        display: none;
    }
    .container {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    #form1 {
        width: 100%;
        background: #cadef6;
        padding: 32px 37px;
        box-sizing: border-box;
        margin: 0;
    }
    #email {
        box-shadow: none!important;
        border: 3px solid #ccc;
        font-size: 42px;
        padding: 26px 30px 24px;
    }
    #page-1 .submit {
        font-size: 54px;
        line-height: 56px;
        padding: 28px 0 24px;
        box-shadow: 3px 3px 0 0 rgba(0,0,0,0.3);
        margin: 0;
    }
    #page-1 .content2 {
        width: 100%;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        padding: 40px 60px;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    #page-1 .content2 ul li {
        margin: 0.5em 0;
    }
    .bonus-wrapper {
        background: #cadef6;
        padding: 30px 36px;
        box-sizing: border-box;
    }
    #page-1 .bonus {
        width: 100%;
        font-size: 32px;
        line-height: 42px;
        margin: 0;
    }
    footer {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 100px;
    }
    body {
        padding-bottom: 0;
    }
    .mobile {
        display: block;
    }
    #page-2 .head, #page-3 .head {
        height: 224px;
        width: 301px;
    }
    #page-2 .content {
        padding: 0 35px 18px;
        text-align: left;
    }
    #page-2 .inner, #page-2 .inner h2, #page-2 h3 {
        text-align: left;
    }
    #page-2 .inner {
        padding: 0 35px;
        box-sizing: border-box;
    }
    #page-2 .inner .top .content2 {
        width: 100%;
        line-height: 42px;
        font-size: 32px;
    }
    #first-name, #last-name, #city, #state, #zip {
        width: 100%;
    }
    #page-2 .inner .top {
        background: rgba(0,0,0,0.3);
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: content-box;
        width: 100%;
        margin-left: -35px;
        margin-bottom: 40px;
        padding-bottom: 0.1em;
    }
    #page-2 .inner .top h2 {
        margin-top: 12px;
        margin-bottom: 2px;
    }
    #page-2 .inner {
        background: url(../img/bg2-mobile.jpg) 0 0 no-repeat;
        background-size: 100% 100%;
        height: 1236px;
    }
    .form2-wrapper {
        width: 100%;
        margin-top: 12px;
    }
    input, select {
        text-transform: none;
    }
    #form2 input, #form2 select {
        border: 1px solid rgba(0,0,0,0.33);
        font-size: 42px;
        height: 85px;
        padding-left: 34px;
        padding-right: 34px;
    }
    #form2 .submit {
        height: 97px;
        font-size: 54px;
        padding: 5px 0 0;
        border: none;
        box-shadow: 3px 3px 0 0 rgba(0,0,0,0.3);
    }
    .checkboxes {
        font-size: 30px;
        line-height: 40px;
        margin-top: 0.8em;
    }
    .checkbox {
        margin-top: 6px;
        width: 45px;
        height: 45px;
        
    }
    .checkboxes .clear {
        height: 1em;
    }
    .checkboxes input {
        float: left;
    }
    .checkboxes label {
        float: right;
        display: block;
        width: 90%
    }
    #page-2.noaccount .inner {
        background: url(../img/bg2alt-mobile.jpg) 0 0 no-repeat;
        background-size: 100% 100%;
        height: 1686px;
    }
    #page-2 h3 {
        margin-top: 1.2em;
    }
    #page-3 .content {
        padding-left: 30px;
        padding-right: 30px;
    }
    #page-3 .social {
        padding-bottom: 200px;
    }
    footer {
        height: 320px;
    }
    .checkbox.hit {
        background: white url(../img/checkbox-hit.png) center center no-repeat;
    }
    p.create-account {
        font-size: 32px;
        line-height: 40px;
    }
}